.burger {
  position: relative;
  cursor: pointer;
}
.menuItem:hover {
  color: "blue";
}
.navscroll {
  padding: 0.8% 4%;
  background: rgba(255, 255, 255, 0.6) !important;
}
@media screen and (max-width: 768px) {
  .navLinks {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    flex-direction: column;
    align-items: left;
    padding-left: 5%;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
    background: #ffffff;
    z-index: 100000;
  }
  .navOpen {
    transform: translateX(100%);
  }
  .burger {
  }
}
